<% include header.html %>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2" style="background: white">
				<h3>City Sushi</h3>
				<p>
					<strong>Average Rating: </strong>4 stars
				</p>
				<p>
					<img src="/images/recommended_holder.png" width="740" height="280">
				</p>
				<p>
					<strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non gravida risus. Vestibulum vitae metus ac neque molestie suscipit. Sed nec ultrices dui, eu dignissim enim.
				</p>
				<p>
					<strong>Address: </strong>75 St. George str.<br>
					<strong>Tel.: </strong>+1 647 877 87 84<br>
					<strong>Wi-Fi: </strong>YES<br>
					<strong>Price: </strong>$$<br>
					<strong>Parking: </strong>Yes<br>
					<strong>Reservation: </strong>Yes<br>

				</p>
				<p>
					<span class="btn-md btn btn-info">Send a message to the owner</span>
				</p>
			</div>
		</div>

		<!-- Write a new feedback -->
		<div class="row" style="margin-top:20px; color: white">
			<div class="col-md-8 col-md-offset-2" style="background: #FF980D">
				<h4>Write a new feedback:</h4>
				<p><strong>Rate: </strong>1 to 5 stars
				</p>
				<p>
					<textarea style="width: 100%; height: 100px"></textarea>
				</p>
				<p>
					<input type="submit" class="btn-md btn-default btn" value="Submit">
				</p>
			</div>
		</div>

		<!-- Each feedback -->
		<div class="row" style="margin-top:20px">
			<div class="col-md-8 col-md-offset-2" style="background: #BDD4DE">
				<h4>Porter: 5 stars</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non gravida risus. Vestibulum vitae metus ac neque molestie suscipit. Sed nec ultrices dui, eu dignissim enim.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non gravida risus. Vestibulum vitae metus ac neque molestie suscipit. Sed nec ultrices dui, eu dignissim enim.
				</p>
			</div>
		</div>
    </div>
<% include footer.html %>
