<% include header.html %>
	<div class="navbar">
		<div class="navbar-header">
			<span class="logo">SodoSopa</span>
		</div>
		<div class="nav navbar-right navbar-nav">
			<li>HOME</li>
			<li>SEARCH</li>
			<li>RECOMMENDED</li>
			<li>LOGIN/REGISTER</li>
		</div>
	</div>
	<div class="home-search">
		<input type="search" class="form-control home-search-bar" placeholder="Name of the business you are looking for...">
	</div>
    <div class="container">
    	<h3>MOST RECOMMENDED</h3>
    </div><!-- /.container -->
<% include footer.html %>
