<% include header.html %>
	<div class="home-search">
		<input type="search" class="form-control home-search-bar" placeholder="Name of the business you are looking for...">
	</div>
	<div class="container">
	    <h3 style="text-align:center;">TOP RESTAURANTS</h3>
	    <div class="row" style="padding-top: 20px; text-align:center;">
	    	<div class="col-md-2 col-md-offset-2">
	    		<img class="img-circle" src="images/recommended_holder.png" width="150" height="150">
	    		<h3>City Sushi</h3>
	    	</div>
	    	<div class="col-md-2">
	    		<img class="img-circle" src="images/recommended_holder.png" width="150" height="150">
	    		<h3>Soda Bar</h3>
	    	</div>
	    	<div class="col-md-2">
	    		<img class="img-circle" src="images/recommended_holder.png" width="150" height="150">
	    		<h3>American Dream</h3>
	    	</div>
	    	<div class="col-md-2">
	    		<img class="img-circle" src="images/recommended_holder.png" width="150" height="150">
	    		<h3>Mexipotle</h3>
	    	</div>
	    </div>
	    <h3 style="text-align:center;">TOP HOTELS</h3>
	    <div class="row" style="padding-top: 20px; text-align:center;">
	    	<div class="col-md-2 col-md-offset-2">
	    		<img class="img-circle" src="images/recommended_holder.png" width="150" height="150">
	    		<h3>Six Seasons</h3>
	    	</div>
	    	<div class="col-md-2">
	    		<img class="img-circle" src="images/recommended_holder.png" width="150" height="150">
	    		<h3>J.W. Barriott</h3>
	    	</div>
	    	<div class="col-md-2">
	    		<img class="img-circle" src="images/recommended_holder.png" width="150" height="150">
	    		<h3>Black Garage</h3>
	    	</div>
	    	<div class="col-md-2">
	    		<img class="img-circle" src="images/recommended_holder.png" width="150" height="150">
	    		<h3>White Mattress</h3>
	    	</div>
	    </div>
    </div>
<% include footer.html %>
