<% include header.html %>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-2" style="background: white">
				<h3><%=username%></h3>
				<p>
					<img src="/avatars/<%=pic%>" width="150" height="200">
				</p>
				<p>
					<strong>Location: </strong><%=location%>
				</p>
				<p>
					<% if(loggedUser == currentUser){ %>
					<a href="/editprofile" class="btn-md btn btn-warning">Edit profile</a>
					<% } else{%>
					<span class="btn-md btn btn-info">Send a message</span>
					<% }%>
				</p>
			</div>
			<div class="col-md-6" style="padding-top:15px">
				<h4>Feedbacks: <%=list.length%></h4>

				<% for(var i=0; i < list.length; i++){ %>
				<div class="row" style="margin-top:12px">
					<div class="col-md-12" style="background: #BDD4DE">
					<h4><%=list[i].businessId[0].name%></h4>
					<p><b>Rating:</b> <%=list[i].rating%>
					</p>
					<p><%=list[i].feedbackText%>
					</p>
					</div>
				</div>
				<% } %>
			</div>
			<!-- End feedback -->
		</div>
    </div>
<% include footer.html %>
