body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #EFEFEF;
}

a {
  color: #00B7FF;
}

.navbar{
	background: #1695A3;
	padding: 20px;
	color:white;
}

.logo{
	color: white;
	font-size:2em;
	font-weight: bold;
}

.logo a{
	color:white;
}

.logo a:hover{
	text-decoration: none;
}

.navbar-header{

}

.nav li{
	color: white;
	font-weight: bold;
}

.nav li a{
	padding: 10px 15px 10px 15px;
	color:white;
}

.nav li a:hover{
	background: none;
	color: #BDD4DE;
}

.nav li a:focus{
	background: none;
}

.home-search{
	padding: 50px 0;
}

.home-search-bar{
	padding: 20px 15px;
	font-size: 1.2em;
}

.container{
	margin-left: auto;
	margin-right: auto;
}

.login-button{
	font-size: 1.3em;
	font-weight: bold;
	color:white;
	padding: 15px;
	display: block;
}

textarea{
	color: black;
}